.button {
  background-color: var(--fawn);
  color: white;
  border: 2px solid var(--timberwolf);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.active {
  border: 1px solid black;
  background-color: var(--light-blue);
  transform: scale(1.01);
}

.valid {
  background-color: var(--carribean-current);
}

.error {
  background-color: var(--amaranth-purple);
  color: white;
}

.button:disabled {
  color: white;
  cursor: not-allowed;
}
