.button {
  background-color: var(--fawn);
  color: white;
  border: 2px solid var(--timberwolf);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.active {
  background-color: var(--light-blue);
  transform: scale(1.1);
}

.valid {
  background-color: var(--asparagus);
  border: 1px solid var(--asparagus);
}

.error {
  background-color: var(--amaranth-purple);
  border: 1px solid var(--amaranth-purple);
}

.button:disabled {
  color: white;
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--fawn-dimmed);
}
