.button {
  background-color: var(--fawn);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.active {
  background-color: var(--carribean-current);
}

.error {
  background-color: var(--amaranth-purple);
}
