@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cabin/v27/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkV2EH7alx0zuA_q9Bg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --timberwolf: #dad6d6ff;
  --carribean-current: #407076;
  --asparagus: #6baa75;
  --fawn: #ffc07f;
  --fawn-dimmed: #e6a76c;
  --light-blue: #b0d0d3;
  --amaranth-purple: #a61c3cff;
  --bone: #d2d0ba;
  --tea-rose: #e5c1bd;
}
